################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/AvaloniaApplication/.vs/AvaloniaApplication
/src/AvaloniaApplication/bin/Debug/net7.0
/src/AvaloniaApplication/obj
